<!doctype html>
<html lang=ru>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>777</title>
    <link rel=stylesheet href=assets/style.css>
    <script src="./assets/js/vue.js"></script>
  </head>
  <body>

    <div id="grid">
      <div id="help">
        <div class="help">
          <div class="helpHeader">
            <div class="title">Как пользоваться?</div>
            <div class="square" @click="visible = !visible">⮟</div>
            <div class="q">?</div><!--*di4*-->
          </div>
          <div class="helpBody" v-if="visible"></div>
        </div>
      </div>

      <div id="login">
        <div class="login">
          <h2>{{ name }}</h2>
          {{ getPhoneFormat() }}
        </div>
      </div>

      <article id="article">
        <div class="triangle"></div>
        <div class="main">
          <div class="mainHeader">
            <h1><span style="color:#19181b">Honey</span><span style="color:#debc00">Money</span></h1>
            <p>Первый денежный аукцион<br> с гарантированным выигрышом</p>
          </div>
          <div class="mainBody">
            <div style="height: 212px;background-color: #19181b;display: flex;align-items: center;justify-content: center;">
              <p style="font-size: 90px;color: #debc00;display: flex;align-items: flex-start;">
                  {{jackpot}}&nbsp;
                  <span style="font-size: 50px;text-decoration: underline;">руб.</span>
              </p>
            </div>
            <div style="padding: 35px 0;text-align: center;">
                <div v-if="lastUser.name">
                  <span style="font-size: 24px;color: #6f6f6f;">
                      Последний платеж
                  </span>
                  <span style="font-size: 24px;color: #debc00;">
                      от <a href="#">{{ lastUser.name }}</a>
                  </span>
                </div>
                <div v-else>Ставок не было</div>
            </div>
          </div>
          <div class="mainFooter">
            <div class="time">
              <p style="font-size: 24px;color: #6f6f6f;">Осталось времени</p>
              <p style="font-size: 96px;color: #debc00;">{{ timeleft() }}</p>
            </div>
            <button @click="setBet">Сделать ставку</button>
            <div class="barcode"></div>
          </div>
        </div>
      </article>

      <div id="chat">
        <div class="chat">
          <div class="chatHeader">
            <div class="square" @click="visible = !visible">⮟</div>
            <div class="title">Чат акционеров</div>
          </div>
          <div class="chatBody" v-if="visible">
              <div v-for="one in messages">{{ one.text }}</div>
          </div>
          <div class="chatFooter" v-if="visible">
            <input type="text" class="sendMsg" v-model="msg">
            <div class="square" @click="sendMsg">⮞</div>
          </div>
        </div>
      </div>

      <footer>
        Есть вопросы?<br/>
        <b>test@test.com</b>
      </footer>

    </div>
    <script src="./assets/js/app.js"></script>
  </body>
</html>
