body {
    font-size: 18px;
    margin: 0;
}

#grid {
    display: grid;
    grid-template-areas: "help article login"
                         "footer article chat";
    grid-template-rows: 72px 1fr;
    grid-auto-columns: 1fr 1.5fr 1fr;
    min-height: 100vh;
    background: url(images/bg.jpg);
    background-size: cover;
    padding-bottom: 20px;
}

#help {
    grid-area: help;
    margin: 22px 20px 0;
}

.help {
    max-width: 344px;
}

.help .helpHeader {
    display: flex;
    justify-content: flex-start;
}

.help .helpBody {
    background-color: white;
    min-height: 200px;
}

#login {
    grid-area: login;
    margin: 22px 20px 0;
}

.login {
    max-width: 344px;
    float: right;
    text-align: right;
    color: white;
}

article {
    grid-area: article;
    width: 100%;
    margin: auto;
}

.main {
    text-align: center;
    background-color: white;
    max-width: 506px;
    margin: 0 auto;
    padding: 70px 0 25px;
    font-size: 24px;
}

.mainHeader p {
    margin: 45px 0;
    line-height: 1.6;
    color: #6f6f6f;
}

.mainFooter {
    margin: 0 20px;
}

.mainFooter .time {
    max-width: 350px;
    height: 170px;
    margin: 0 auto;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainFooter button {
    width: 100%;
    max-width: 300px;
    height: 60px;
    color: white;
    background-color: #19181b;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 30px 0;
    cursor: pointer;
    caret-color: red;
}

.mainFooter .barcode {
    background-image: url(images/barcode.png);
    height: 22px;
    opacity: 0.5;
}

#chat {
    grid-area: chat;
    margin: auto 20px 0;
}

.chat {
    float: right;
    width: 100%;
    max-width: 344px;
}

.chatHeader {
    display: flex;
    justify-content: flex-end;
}

.chatBody {
    background-color: white;
    min-height: 580px;
}

.chatFooter {
    display: flex;
}

.chatFooter .sendMsg {
    width: 100%;
    background-color: #f3f3f3;
    border: 0;
}

footer {
    grid-area: footer;
    margin: auto 20px 0;
}

h1 {
    margin: 0;
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #debc00;
    text-decoration: none;
    border-bottom: 3px dotted #debc00;
}

.title {
    width: 190px;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle {
    height: 22px;
    max-width: 506px;
    margin: 0 auto;
    background-image: url(images/triangle-2.png);
    background-repeat: repeat-x;
    background-color: none;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #f5d31b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.q {
    width: 50px;
    height: 50px;
    background-color: #f5d31b;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    display: none;
}/*di4*/

@media all and (max-width: 1024px) {
    #grid {
        height: auto;
        grid-template-areas:
                "help login"
                "article article"
                "chat chat"
                "footer footer";
        grid-template-rows: auto 1fr auto 50px;
        grid-template-columns: 1fr;
    }
    #chat {
        margin: 20px;
    }
    article {
        margin-top: 20px;
    }
    .title {
        display: none;
    }
    .help .helpBody {
        display: none;
    }
    .help .helpHeader .square {
        display: none;
    }
    .help .helpHeader .q {
        display: flex;
    }
    .chat {
        max-width: 506px;
        float: none;
        margin: 0 auto;
    }
    .chat .chatHeader .title {
        display: flex;
        width: 100%;
    }
    h1 {
        font-size: 6vw;
    }
}

@media screen and (min-width: 1920px) {
    #grid {
        padding: 100px;
    }
    h1 {
        font-size: 48px;
    }
}